.container {
    grid-template-columns: 
    3fr 1fr;
    grid-template-areas: 
    "header1 header1"
    "nav1 nav1"
    "main1 aside1"
    "footer1 footer1";
}

main{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "sec1 sec1"
    "fig1 fig2"
    "sec2 fig3"
    "sec3 sec3";
}

#intro{grid-area:sec1; background: #ffffff;}
#population{grid-area:sec2; background: #ffffff;}
#benefits{grid-area:sec3; background: #ffffff;}
#fig1{grid-area: fig1; background: #ffffff;}
#fig2{grid-area: fig2; background: #ffffff;}
#fig3{grid-area: fig3; background: #ffffff;}

@media screen and (min-width: 641px)
and (max-width: 900px) {
    .container{
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        "header1 header1"
        "nav1 nav1"
        "main1 aside1"
        "footer1 footer1";
    }
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "sec1 sec1"
        "fig1 fig2"
        "sec2 fig3"
        "sec3 sec3";
    }
}

@media screen
and (max-width: 640px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header1"
        "nav1"
        "aside1"
        "main1"
        "footer1";
    }
    main{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "sec1"
        "fig1" 
        "fig2"
        "sec2"
        "fig3"
        "sec3";
    }
}